<form class="form-inline" role="form">
  <div class="form-group" ng-show="questions.length">
    <input ng-model="query" type="text" class="form-control" placeholder="Search Questions">
  </div>
</form>

  <div class="page-header">
    <h1 ng-show="questions.length && filtered.length">Questions</h1>
    <h1 ng-show="questions.length && !filtered.length">No matches</h1>
  </div>
  <ul>
    <li ng-repeat="item in filtered = (questions | filter:query)">
      <a ui-sref="questions.answers({ questionId: item.id })">{{ item.title }}</a>
    </li>
  </ul>
</div>


  <h3>Ask</h3>
  <form ng-submit="QuestionsFactory.addQuestion()" class="form-inline" role="form">
    <div class="form-group">
      <input type="text" ng-model="QuestionsFactory.questionTitle" class="form-control" placeholder="Enter a question">
    </div>
    <button type="submit" class="btn btn-info">Submit</button>
  </form>

<div ui-view> </div>
