<div ng-show="question.answers.length">
  <h2>Answers for {{ question.title }}</h2>
  <ul>
    <li ng-repeat="answer in question.answers | orderBy: '-upvotes'">
      <span class="glyphicon glyphicon-thumbs-up" ng-click="AnswersFactory.incrementUpvotes(answer)"></span>

      {{ answer.content }} - upvotes: {{ answer.upvotes}}
    </li>
  </ul>
</div>

<div>
  <h2>Answer to {{ question.title }}</h2>
  <form ng-submit="AnswersFactory.addAnswer()" class="form-inline" role="form">
    <div class="form-group">
      <input type="text" ng-model="AnswersFactory.answerContent" class="form-control" placeholder="Enter the answer">
    </div>
    <button type="submit" class="btn btn-info">Submit</button>
  </form>
</div>

<div class="row approved" ng-controller="ApprovedAnswersCtrl">
  <div class="col-md-6" ng-show="answersWithoutApproval.length">
    <h2>Pending Approval</h2>
    <ul>
      <li ng-repeat="item in answersWithoutApproval = (answers | filter:{approvalNote: false})">
        {{ item.content }} <a ng-click="addAnswerWithApprovalNote(item)"> - approved -</a>
      </li>
    </ul>
  </div>
  <div class="col-md-6" ng-show="answersWithApproval.length">
    <h3>With Approval</h3>
    <ul>
      <li ng-repeat="item in answersWithApproval = (answers | filter:{approvalNote: true}) | orderBy: '-upvotes'">
        <span class="glyphicon glyphicon-thumbs-up" ng-click="AnswersFactory.incrementUpvotes(item)"></span>
        {{ item.content }} - upvotes: {{ item.upvotes }}
      </li>
    </ul>
  </div>
</div>

